@{
    ViewData["Title"] = "Sign Out";
}

<main class="external-section-flex">
    <p class="external-section-header">You are Signed Out</p>
    <hr />
    <p>You will be redirected to sign back in within 5 seconds.</p>
</main>